@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@400;500;700&family=Yellowtail&display=swap');

body {
    background-color: #F3F1FF;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* players section */

.title {
    color: #562EFF;
    padding: 20px;
    margin-bottom: 4px;
}

.player_name {
    padding: 0px 10px;
}

.top_player_section {
    background-color: #FFFFFF;
    width: 870px;

    margin: 0 auto;
}

.player {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

}

.player_img {
    display: flex;
    justify-content: center;
}

.player_img img {
    width: 56px;
    height: 56px;
}

.vr {
    width: 800px;
}



/* blog section */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 30px;
}

.blog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog_img img {
    width: 177px;
    height: 117px;
}

.blog_details {
    margin-left: 20px;
}

/* course section */
.course_section {
    background-color: #FFFFFF;
    width: 870px;

    margin-top: 20px;
    margin: 0 auto;

}

.course_img img {
    width: 200px;
    height: 100px;
}

.courses {
    display: flex;
    justify-content: center;

}

.course {
    padding: 20px;

}


@media only screen and (max-width:600px) {
    .player {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;

    }

}

@media only screen and (max-width:600px) {
    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        margin-top: 30px;
    }

}


@media only screen and (max-width:600px) {
    .courses {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;

    }

}